header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.logo {
  position: absolute;
  right: 1rem;
}

.logo img {
  width: 50px;
  height: 50px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}